p {
  margin-bottom: .5rem;
}

#currentWeatherBox p {
  font-size: 24px;
}

.content {
  min-height: -webkit-calc(100vh - 72px);
  min-height: -moz-calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_1280.jpg");
}

.header {
  color:white;
  background-color: #515151;
}

.searchBox {
  background-color:rgba(139,144,158,.6);
}

#citySearch {
  min-width: 0;
}

.cityResults {
  max-width: 300px;
}


.cityDiv {
  border: 1px solid grey; 
  margin-top: -1px;
  padding-top: 2px;
  background-color: rgba(255,255,255,.9);
}

.cityDiv:hover {
  background-color: blue;
  color: white;
}

.resultsBox {
  
}

.currentWeatherBox {
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  background-color: rgba(78,188,228,.7);
  background-image: url("imgs/hurricane.jpg");
  background-size: cover;
  height: 70vh;
}

.futureWeatherBox {

}

.five-day {
  background-color: rgba(31,87,242,.9);
  color:white;
  border: 1px solid white;
  margin: 0 auto;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 10px;
  overflow:hidden;
  text-align: center;
}

.five-day p {
  margin-bottom:0;
}

.five-day img {
  margin-bottom:-10px;
  margin-top:-10px;
}

@media only screen and (max-width: 992px) {
.resultsBox {
   background-image: none;
}

.content {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_1280.jpg");
}
}

@media only screen and (max-width: 576px) {
.five-day {
  width: 75%;
  
}
}