.content {
  min-height: -webkit-calc(100vh - 72px);
  min-height: -moz-calc(100vh - 72px);
  min-height: calc(100vh - 72px);
}

.header {
  color:white;
  background-color: #515151;
}

.searchBox {
  background-color: #f2f3f4;
}

#citySearch {
  min-width: 0;
}

.cityResults {
  max-width: 300px;
}


.cityDiv {
  border: 1px solid grey; 
  margin-top: -1px;
  padding-top: 2px;
  background-color: white;
}

.cityDiv:hover {
  background-color: blue;
  color: white;
}

.resultsBox {
 

}
.currentWeatherBox {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  background-image: url("imgs/hurricane.jpg");
  background-size: cover;
  height: 70vh;
}

.futureWeatherBox {

}

.five-day {
  background-color: blue;
  color:white;
  margin: 0 auto;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 10px;
  overflow:hidden;
  text-align: center;
}

@media only screen and (max-width: 992px) {
.resultsBox {
   background-color: #f2f3f4;
}
}